<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @skill.title %>
</p>

<p>
  <strong>Percent untilized:</strong>
  <%= @skill.percent_untilized %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
